.header {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    text-align:left;
    /* color: transparent; */
    background: transparent;
    background-color: transparent;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .subtitle {
    /* font-size: 1.5rem;
    margin-top: 10px; */
  }
  